# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
